:root {
  --color-primary: #060504; 
  --color-secondary: #1E1E1E; 
  --color-three: #EC7058; 
  --color-gray:#CDCDCD;
  /* Example: A shade of blue */
  /* Example: A shade of blue */
}


@font-face {
    font-family: "Barlow Condensed", sans-serif;
    src: url(primary);
}
@font-face {
    font-family: "Alegreya Sans", sans-serif;
    src: url(secondary);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html , body{
    height: 100%;
    width: 100%;
    /* background-color: var(--color-primary); */
    background-color: gray;
}

#main{
    width: 100%;
    background-color: #060503;
    /* color: #E1E0DE; */
    padding: 10px;
     /* font-family: "Barlow Condensed", sans-serif; */
    font-family: "Alegreya Sans", sans-serif;
    color: white;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* font-family: primary; */
}
nav h1{
    font-weight: 300;
      font-family: "Barlow Condensed", sans-serif;
}

.links{
    display: flex;
    gap: 20px;
}

.links h3{
    background-color: #1E1E1E;
    padding: 12px 8px;
    text-transform: uppercase;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-weight: 400;

}

.links button{
    background-color: #EE6C57;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
   
    text-transform: uppercase;
    font-weight: 700;
}


.heroImg{
    width: 100%;
    height: 700px;
    margin-top: 20px;
    border-radius: 10px;
    background-image: url('./bgi.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0px 50px;
}

.heroImg h1{
   font-family: "Alegreya Sans", sans-serif;
    font-size: 128px;
    text-transform: uppercase;
    line-height: 115px;
    font-weight: 300;
    letter-spacing: 6px;
}

.heroImg h1 span{
    margin-left: 100px;
}

.btmContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 100px;

}
.btmContainer p{
    font-family: "Barlow Condensed", sans-serif;
    font-size: 20px;
    width: 50%;
    margin-left: 100px;
    opacity: 0.8;
}
.btmtext{
    display: flex;
    align-items: center;
    gap: 15px;
    opacity: 0.8;
    /* padding: 0px 50px; */
}

.btmtext button{
    background-color: #aeaeae70;
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    color: #E1E0DE;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btmtext button i{
    font-size: 20px;
    
}

.btmtext h5{
    font-family: primary;
    font-size: 14px;
    text-transform: uppercase;
}


.infoContainer{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.info{
    width: 24%;
    background-color: #1E1E1E;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
}

.num-data{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    /* gap: 250px; */
     font-family: "Barlow Condensed", sans-serif;
     padding: 10px 40px;

}

.num-data .dets h4{
   font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 100;
}
.num-data .dets p{
    /* font-family: "Barlow Condensed", sans-serif; */
    /* font-family: "Alegreya Sans", sans-serif; */
    /* padding: 20px; */
      /* text-transform: uppercase;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-weight: 400; */
    font-size: 40px;
    font-weight: 100;

}

.about-container
{
     width: 100%;
   display: flex;
   /* align-items: center; */
   justify-content: space-between;
   /* flex-direction: row; */
    margin-top: 30px;
    /* gap: 10px; */
    /* background-color: aliceblue; */
}

.about-left
{

    width: 49%;
    background-color: var(--color-secondary);

     border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    gap: 60px;
}
.about-left h1{
    font-size: 50px;
}

.about-left .txt{
    /* width: 100%; */
    margin-top: 20px;
    display: flex;
    /* background-color: blue; */
}
.about-right
{
    background-color: #EE6C57;
    border-radius: 10px;
    /* display: flex; */
    /* height: 600px; */
    width: 49%;
    /* aspect-ratio: 2 / 19; */
    /* overflow: hidden; */
    height: 400px;
    background-image: url(https://plus.unsplash.com/premium_photo-1731355899385-0d19166f584d?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.adv-heading{
    padding: 20px 50px;
}
.advantages-container{
        width: 100%;
   display: flex;
   /* align-items: center; */
   justify-content: space-between;
   /* flex-direction: row; */
    margin-top: 30px;
}

.adv-left{
   width: 49%;
   height: 400px;
   border-radius: 10px;
   /* height: 300px; */
   background-size: cover;
   background-position: center;
   background-image: url(https://plus.unsplash.com/premium_photo-1674327105237-7df379ff8f51?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.adv-right{
 width: 49%;
 display: flex;
 flex-direction: column;
 gap: 10px;
}

.r-1{
    padding: 20px 20px;
    border-radius:10px;
    /* background-color: yellow; */
    background-color: var(--color-secondary);
}

.a-r-bottom{
    margin-top: 20px;
  display: flex;
  align-items: end
}

.advantages-container-2{
        width: 100%;
   display: flex;
   /* align-items: center; */
   justify-content: space-between;
   /* flex-direction: row; */
    margin-top: 50px;
    flex-direction: row-reverse;
}